{% extends 'common/base.html' %}
{% load static%}

{% block css%}
{{ block.super }}
<link rel="stylesheet" href="{% static '/css/login.css' %}">

{% endblock css %}
{% block content %}

<section class="signup mb-5">
    <div class="row align-items-center"><h1 class="text-center" style="color: brown; font-weight: bold;">EDIT PROFILE</h1></div>
    <h6 class="text-success text-center bg-white">{{ success_msg }}</h6>


    <div class="container my-5 mx-5">
        <div class="row align-items-center shadow border-0  pt-5 pb-5">
            <div class="col-lg-5 col-12">
                <img src="{% static '/image/kokologo.png' %}" alt="" class="img-fluid d-none d-sm-block">

            </div>
            <div class="col-lg-7 col-12 ">
                <form method="POST">

                  {% csrf_token %}

                  <label class="control-label" for="date">Your Name</label>
                  <div class="mb-3">
                      <input type="text" class="form-control" placeholder="name" aria-label="First name" name="customer_name">
                    </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Phone number</label>
                        <input type="number" class="form-control" name="phone">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Address</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="address"></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                    </div>
                   
                    <button type="submit" class="btn btn-dark">Save & Changes</button><br>

                  </form>

            </div>
        </div>
    </div>
</section>



{% endblock content %}

