{% extends 'common/base.html' %}
{% load static%}

{% block css%}
{{ block.super }}
<link rel="stylesheet" href="{% static '/css/login.css' %}">

{% endblock css %}
{% block content %}

<section class="login mb-5">
    <div class="container my-5 mx-5">
        <div class="row align-items-center shadow border-0 ">
            <div class="col-lg-5 col-12">
                <img src="{% static '/image/kokologo.png' %}" alt="" class="img-fluid">

            </div>
            <div class="col-lg-7 col-12">
                <form method="POST" enctype="multipart/form-data">
                  
                  {% csrf_token %}

                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label fw-bold">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label fw-bold">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                    </div>
                    
                    <button type="submit" class="btn btn-dark">Login</button><br>
                    <h6 class="text-danger text-center bg-white">{{error_msg}}</h6>

                  </form><br>
                  <p>Don't have an account?<a href="{% url 'common:signup'%}" style="color: blue;" class="btn fw-bold">Create an account</a></p>

            </div>
        </div>
    </div>
</section>




{% endblock content %}

